<script>
$( function() {
    var dialog, form,
    tips = $( ".validateTips" );

    // function sendTilUtskrift() {
      
    //   // SJEKKE OM VALGT SAMMENSETNING AV FILER ER OK
    //   alert("Knappeknapp trykket");
    //   var noedata = tabell.rows({selected: true}).data().toArray();  //Innebygd API for håndtering av rows.
    //     alert(JSON.stringify(noedata, undefined, 2));

    // }
    
    //let lokalTabell = $('#DataTables_Table_0 ')
    //let lokalTabell = $('.display table');
   // console.log( $('.display table').DataTable.rows({selected: false}).data.toArray(), " logg");
    
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        //"Send til utskrift": sendTilUtskrift,
        "Send til utskrift": () => {
          alert("Knappeknappen er knappet ned");
          dialog.dialog( "close" );
        },
        Cancel: () => {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        //form[ 0 ].reset();
        location.reload();
        //allFields.removeClass( "ui-state-error" );
      }
    });
 
    // form = dialog.find( "form" ).on( "submit", function( event ) {
    //   event.preventDefault();
    //   alert("submit er fyrt av");
    // });
 
    // $( "#printdialog" ).button().on( "click", function() {
    //   dialog.dialog( "open" );
    // });


  });


</script>