<header>
    <!--Menyen i hodet av siden-->
        
        <div id="logo">
                
            <h1>
                <a href="#">SentralDistribusjon AS</a>
            </h1>
            <div id="appnavn">ConnectPrintFilkontroll</div>
        </div>
    
        <nav>
            <label id="direktteprintTekst" for="direkteprint">Direkteprint</label>
            <input type="checkbox" class="ui-widget" id="direkteprint" name="direkteprint" unchecked clickable/>
            
            <select name="Printere" id="printere" class="ui-widget">
              <option value="rio" >RIO</option>
              <option value="canberra" >Canberra</option>
            </select>
            
            
        </nav>
    </header>