<header>
    <!--Menyen i hodet av siden-->
        
        <div id="logo">
                
            <h1>
                <a href="#">SentralDistribusjon AS</a>
            </h1>
            <div id="brukernavn">navn</div>
        </div>
    
        <nav>
            <!-- <ul class="hodeNav">
               

            </ul> -->
            Direkteprint
            <input type="checkbox" class="ui-widget" id="direkteprint" name="direkteprint" value="direkteprint" unchecked clickable/>
            <!-- <label for="name" class="ui-widget">Printer</label> -->
            <!--<input type="text" name="name" id="name" value="RIO" class="text ui-widget-content ui-corner-all"><br>-->
            
            <select name="Printere" id="printere" class="ui-widget">
              <option value="rio" >RIO</option>
              <option value="canberra" >Canberra</option>
            </select>
            
            
        </nav>
    </header>