    {{> head}}
<body>
    {{> toppmeny}}

        <div id="Velkommen">
            <table class="display">
                <thead>
                    <tr>
                        <th>
                            Connect-filer
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    {{> printModal}}


    </body>
    {{> printModalScript}}
    <script>
    
 
$(document).ready(function() {

    let tabell = $('.display').DataTable( {
        "ajax" : {
            "url": "/filliste",
            "contentType": "application/json",
            "type": "POST"
        },
        "columns" : [{"data" : null}],
        "select" : "os"
    });

    $('.display table').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
            console.log($(this));
        }
        else {
            tabell.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            console.log($(this));
        }
    });

    $( "#scanneliste" ).click(function() {
        alert( "Handler for .click() called.");
        console.log(tabell.rows('.selected').data() );
      });
});
    </script>
</html>