    {{> head}}
<body>
    {{> toppmeny}}

        <div id="Velkommen">
            <table class="display">
                <thead>
                    <tr>
                        <th>
                            test
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    </body>
    <script>

 
$(document).ready(function() {

    $('.display').DataTable( {
        "ajax" : {
            "url": "/filliste",
            "contentType": "application/json",
            "type": "POST"
        },
        "columns" : [{"data" : null}]
        
        
        
    });
});
    </script>
</html>