    {{> head}}
<body>
    {{> toppmeny}}

        <div id="Velkommen">
                
                
            <table class="display">
                <thead>
                    <tr>
                        <th>
                            Connect-filer
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    {{> printModal}}


    </body>
    <!--{{> printModalScript}}-->
    <script>
    
 
$(document).ready(function() {

    var tabell = $('.display').DataTable( {
        "ajax" : {
            "url": "/filliste",
            "contentType": "application/json",
            "type": "POST"
        },
        "columns" : [{"data" : null}],
        "select" : "os"

    });

    new $.fn.dataTable.Buttons( tabell, {
        name: "commands",
        buttons: [{
            text: "Print",
            action: (e, dt, node, config) => {
                alert("Printe printe printe");
            }
        },{
            text: "Print scannelister",
            action: (e, dt, node, config) => {
                //alert("Knappeliknapp er trykket");
                sendScanneliste();
            }
        }]
    });

    tabell.buttons(0, null).container().appendTo('nav');

    //Markere valgte elementer
    $('.display table').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
            console.log($(this));
        }
        else {
            tabell.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            console.log($(this));
        }
    });

    function sendScanneliste() {
        let valgteElementer = tabell.rows({selected: true}).data().toArray();
        console.log(valgteElementer);
    };



    //Tester knapp for print.
    $( "#scanneliste" ).click(function() {
        alert( "Handler for .click() called.");
        var noedata = tabell.rows({selected: true}).data().toArray();  //Innebygd API for håndtering av rows.
        console.log(JSON.stringify(noedata, undefined, 2));
      });



});
    
    </script>
    {{> printModalScript}}
</html>