    {{> head}}
<body>
    {{> toppmeny}}

        <div id="Velkommen">
                
                
            <table class="display">
                <thead>
                    <tr>
                        <th>
                            filnavn
                        </th>
                        <th>
                            antallFakturaer
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    {{> printModal}}


    </body>
    {{!-- {{> printModalScript}} --}}
    <script>
    
 
$(document).ready(function() {
    
   
});
    
    </script>
    {{!-- {{> printModalScript}} --}}
</html>